{sub_dirs, ["rel", "apps/riak_zab_example"]}.
{lib_dirs, ["apps", "deps"]}.
{require_otp_vsn, "R13B04|R14"}.
{cover_enabled, true}.
{erl_opts, [debug_info, fail_on_warning]}.

{deps, [
      {riak_zab, "0.1.*", {git, "git://github.com/jtuple/riak_zab",
                                {branch, "master"}}}
       ]}.

