%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 et
{sys, [
       {lib_dirs, ["../deps", "../apps"]},
       {rel, "riak_zab_example", "0.1.0",
        [
         kernel,
         stdlib,
         sasl,
         crypto,
         mochiweb,
         webmachine,
         basho_stats,
         riak_core,
         riak_zab,
         riak_zab_example
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "riak_zab_example"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {excl_archive_filters, [".*"]},
       {app, riak_zab_example, [{incl_cond, include}]},
       {app, riak_zab, [{incl_cond, include}]},
       {app, riak_core, [{incl_cond, include}]},
       {app, sasl, [{incl_cond, include}]}
      ]}.


{target_dir, "riak_zab_example"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "data/ring"},
           {mkdir, "log/sasl"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {template, "files/app.config", "etc/app.config"},
           {template, "files/vm.args", "etc/vm.args"},
           {template, "files/riak_zab", "bin/riak_zab_example"},
           {template, "files/riak-zab-admin", "bin/riak-zab-admin"}
          ]}.


